<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Create Ad</title>
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

<main class="container d-flex justify-content-center">
    <div class="card w-75 text-center p-3" style="background-color: #6e6e6e;">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
            <div th:replace="fragments :: postForm" />
        </form>
    </div>
</main>

<footer th:replace="fragments :: footer" />
</body>
</html>