<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Create Ad</title>
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

<main class="container d-flex justify-content-center">
    <div class="card w-75 text-center p-3" style="background-color: #6e6e6e;">
        <form id="createPostForm" name="createPostForm" action="/posts/create" method="POST">
            <div class="form-group">
                <input class="form-control mb-3 bg-dark text-light" id="title" name="title" type="text" placeholder="Title">
                <textarea class="form-control mb-3 bg-dark text-light" id="body" name="body" rows="12" placeholder="Enter the body of your post here" ></textarea>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments :: footer" />
</body>
</html>