<!--Template for create post form-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments :: metaTags" />

    <title>Create Ad</title>

    <div th:replace="fragments :: links" />
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

<main class="container d-flex justify-content-center">
    <div class="card w-75 text-center p-3" style="background-color: #6e6e6e;">
        <form th:action="@{/posts/create}" th:method="post" th:object="${post}" enctype="multipart/form-data">
            <div th:replace="fragments :: postForm" />
<!--        </form>-->
<!--        <form action="/fileupload" method="POST" enctype="multipart/form-data">-->
            <label for="file">Upload a file!</label>
            <input id="file" name="file" type="file" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <br />
<!--            <input type="submit" value="upload" />-->
        </form>
    </div>
</main>

<div th:replace="fragments :: scripts" />
</body>
</html>