<!--Template for showing single post-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments :: metaTags" />

    <title>Show Post</title>

    <div th:replace="fragments :: links" />
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

<!--Single Post Card-->
<div class="container">
    <div th:replace="fragments :: showSinglePost" />
</div>

<div th:replace="fragments :: scripts" />
</body>
</html>