<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title id="pageTitle">Sign Up</title>
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" />

    <input value="Sign me up!" type="submit" />
</form>

<footer th:replace="fragments :: footer" />
</body>
</html>