<!--Template for signup form-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments :: metaTags" />

    <title>Sign Up</title>

    <div th:replace="fragments :: links" />
</head>
<body>
<nav th:replace="fragments :: navbar" />
<header th:replace="fragments :: header" />

    <h1>Create an account</h1>
    <form th:action="@{/signup}" method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" autocomplete="off" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" autocomplete="off" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" name="confirmPassword" type="password" />

        <input value="Sign me up!" type="submit" />
    </form>

<div th:replace="fragments :: scripts" />
</body>
</html>