<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title th:include=":: #pageTitle">Fragments Title</title>
    <link rel="shortcut icon" type="images/png" th:href="@{/megamanicon.png}">

</head>
<body>
    <nav th:fragment="navbar" id="main-navbar" class="navbar navbar-expand-md w-100 navbar-dark bg-dark mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <span class="d-none d-md-block fs-3 px-4 text-light">springboot exercises</span>

            <button id="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span id="collapse-btn">
                            <i class="bi bi-list"></i>
                        </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-4">
                    <li class="nav-item mx-2">
                        <a href="/posts" class="nav-link fs-5" >All Posts</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/posts/create" class="nav-link fs-5">Create A Post</a>
                    </li>
                    <li class="nav-item mx-2 text-muted">
                        <a href="#" class="nav-link fs-5">Profile</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="#"  class="nav-link fs-5">Logout</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <header th:fragment="header" class="container">
        <hr>
    </header>

    <footer th:fragment="footer">
        <!-- Bootstrap JS Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </footer>
</body>
</html>